* {
  margin: auto 0;
  font-family: 'Muli', sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 1000px;
}

input {
  height: 30px;
  width: 300px;
}

.title {
  font-size: 30px;
  margin: 20px;
  text-align: center;
  color: grey;
}

.color-palette {
  display: inline-block;
  width: 200px;
  height: 450px;
}

.color-palette1, 
.color-palette2,
.color-palette3,
.color-palette4,
.color-palette5 {
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.lock {
  background-image: url('images/unlocked.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.new-class1,
.new-class2, 
.new-class3, 
.new-class4, 
.new-class5 {
  background-image: url('images/locked.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center; 
  display: inline-block;
  width: 200px;
  height: 450px;
}

.locked {
  background-image: url('images/locked.svg');
  background-size: 50px;
}

.colors-saved {
  display: flex;
  margin: 20px 0 0 20px;
}

.project-title {
  font-size: 18px;
  margin: 20px 0 0 0;
  font-weight: bold;
}

.colorful1,
.colorful2,
.colorful3,
.colorful4,
.colorful5 {
  margin: 5px;
  width: 100px;
  height: 50px;
}

select {
  position: relative;
  height: 35px;
  bottom: 4px;
  outline: none;
}

li {
  list-style: none;
}
.color-container {
  display: flex;
  justify-content: center;
}

.new-project {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.bottom {
  text-align: center;
}

.generate-btn {
  margin: 30px;
}

.palette-input {
  margin: 0 0 20px 0;
}

.color-txt1,
.color-txt2,
.color-txt3,
.color-txt4,
.color-txt5 {
  position: relative;
  top: 400px;
}

.delete {
  color: black;
  font-size: 16px;
  height: 20px;
}

.delete-else {
  position: relative;
  right: 685px;
}

.color-num {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 18px;
}

button{
  background:#ffffff;
  color: grey;
  border:none;
  position:relative;
  height:35px;
  font-size:1.6em;
  padding:0 .5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color: grey;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: grey;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

input {
  outline: none;
  font-size: 18px;
}