* {
  margin: auto 0;
  font-family: 'Muli', sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 1000px;
}

.title {
  font-size: 30px;
  margin: 20px;
  text-align: center;
  color: grey;
}

.color-palette {
  display: inline-block;
  width: 200px;
  height: 450px;
}

.color-palette1, 
.color-palette2,
.color-palette3,
.color-palette4,
.color-palette5 {
  background-image: url('images/unlocked.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

/*.lock {
  background-image: url('images/unlocked.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}*/

.new-class1,
.new-class2, 
.new-class3, 
.new-class4, 
.new-class5 {
  background-image: url('images/locked.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center; 
  display: inline-block;
  width: 200px;
  height: 450px;
}

/*.color-palette1:active, 
.color-palette2:active,
.color-palette3:active,
.color-palette4:active,
.color-palette5:active {
  background-image: url('images/locked.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
*/

.locked {
  background-image: url('images/locked.svg');
  background-size: 50px;
}


.project-header {
  margin: 10px 0 50px 0;
}

.color-container {
  display: flex;
  justify-content: center;
}

.new-project {
  display: flex;
  justify-content: center;
}

.bottom {
  text-align: center;
}

.generate-btn {
  margin: 30px;
}

.palette-input {
  margin: 0 0 20px 0;
}

input {
  outline: none;
}